/* Estilos generales */
/* Estilos para contFondo */
#contFondo {
    background-color: rgb(255,239,213);
}
/* Estilos para contlogin */
#contlogin {
    background-color: rgb(221,230,255);
}
#passw {
    color: rgb(160,160,160);
}
#Nombre {
    color: rgb(160,160,160);
}
